In [1]:
#  라이브러리 로드
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
from torch.utils.data import DataLoader # 데이터로더
from torch.utils.data import TensorDataset # 텐서 데이터셋
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, StandardScaler 
import datetime
import os
os.environ['KMP_DUPLICATE_LIB_OK'] = 'True' # KMP 오류 방지(터널 오류 방지)

In [2]:
df = pd.read_csv('data/005930.KS01.csv')
print(df.head())
print('--------------------------------------------------------------')
print(df.info())

         Date     Adj Close    Close     High      Low     Open    Volume
0  2010-01-04  12051.839844  16180.0  16180.0  16000.0  16060.0  11950800
1  2010-01-05  12245.499023  16440.0  16580.0  16300.0  16520.0  27925850
2  2010-01-06  12528.544922  16820.0  16820.0  16520.0  16580.0  22948850
3  2010-01-07  12111.428711  16260.0  16820.0  16260.0  16820.0  22107950
4  2010-01-08  12230.602539  16420.0  16420.0  16120.0  16400.0  14777550
--------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3811 entries, 0 to 3810
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3811 non-null   object
 1   Adj Close  3811 non-null   float64
 2   Close      3811 non-null   float64
 3   High       3811 non-null   float64
 4   Low        3811 non-null   float64
 5   Open       3811 non-null   float64
 6   Volume     3811 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 208.5+ KB
None

In [3]:
df1 = df.set_index(pd.to_datetime(df['Date']))
print(df1.head())
df1 = df1[['Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']]
df1.head()

                  Date     Adj Close    Close     High      Low     Open  \
Date
2010-01-04  2010-01-04  12051.839844  16180.0  16180.0  16000.0  16060.0
2010-01-05  2010-01-05  12245.499023  16440.0  16580.0  16300.0  16520.0
2010-01-06  2010-01-06  12528.544922  16820.0  16820.0  16520.0  16580.0
2010-01-07  2010-01-07  12111.428711  16260.0  16820.0  16260.0  16820.0
2010-01-08  2010-01-08  12230.602539  16420.0  16420.0  16120.0  16400.0

              Volume
Date
2010-01-04  11950800
2010-01-05  27925850
2010-01-06  22948850
2010-01-07  22107950
2010-01-08  14777550

               Open     High      Low    Close    Volume     Adj Close
Date
2010-01-04  16060.0  16180.0  16000.0  16180.0  11950800  12051.839844
2010-01-05  16520.0  16580.0  16300.0  16440.0  27925850  12245.499023
2010-01-06  16580.0  16820.0  16520.0  16820.0  22948850  12528.544922
2010-01-07  16820.0  16820.0  16260.0  16260.0  22107950  12111.428711
2010-01-08  16400.0  16420.0  16120.0  16420.0  14777550  12230.602539

In [4]:
seq_length=7
batch_size=100
train_size=int(len(df1) * 0.9)
test_size=len(df1) - train_size
train_set = df1[:train_size]
test_set = df1[train_size-seq_length:]
test_set.head()

               Open     High      Low    Close    Volume     Adj Close
Date
2023-11-20  72100.0  73000.0  72100.0  72700.0  10610157  70408.835938
2023-11-21  73100.0  73400.0  72700.0  72800.0   9712881  70505.679688
2023-11-22  72200.0  73000.0  71900.0  72800.0  11105143  70505.679688
2023-11-23  73000.0  73200.0  72200.0  72400.0   6775614  70118.289062
2023-11-24  72400.0  72600.0  71700.0  71700.0   6676685  69440.351562

In [5]:
scaler_x = MinMaxScaler()
scaler_x.fit(df1.iloc[:,:-1])
scaler_y = MinMaxScaler()
scaler_y.fit(df1.iloc[:,[-1]])

train_set.iloc[:,:-1] = scaler_x.transform(train_set.iloc[:,:-1])
print(train_set.head())

train_set.iloc[:,[-1]] = scaler_y.transform(train_set.iloc[:,[-1]])
print(train_set.head())

test_set.iloc[:,:-1] = scaler_x.transform(test_set.iloc[:,:-1])
test_set.iloc[:,[-1]] = scaler_y.transform(test_set.iloc[:,[-1]])
print(test_set.head())

                Open      High       Low     Close    Volume     Adj Close
Date
2010-01-04  0.031062  0.027034  0.033658  0.033333  0.132336  12051.839844
2010-01-05  0.037066  0.031861  0.037602  0.036693  0.309235  12245.499023
2010-01-06  0.037849  0.034757  0.040494  0.041602  0.254123  12528.544922
2010-01-07  0.040981  0.034757  0.037076  0.034367  0.244811  12111.428711
2010-01-08  0.035500  0.029930  0.035235  0.036434  0.163638  12230.602539
                Open      High       Low     Close    Volume  Adj Close
Date
2010-01-04  0.031062  0.027034  0.033658  0.033333  0.132336   0.023659
2010-01-05  0.037066  0.031861  0.037602  0.036693  0.309235   0.026208
2010-01-06  0.037849  0.034757  0.040494  0.041602  0.254123   0.029935
2010-01-07  0.040981  0.034757  0.037076  0.034367  0.244811   0.024443
2010-01-08  0.035500  0.029930  0.035235  0.036434  0.163638   0.026012
                Open      High       Low     Close    Volume  Adj Close
Date
2023-11-20 -0.178534 -0.168227 -0.176692 -0.175701  0.117491  -0.135009
2023-11-21 -0.178533 -0.168227 -0.176692 -0.175701  0.107555  -0.135009
2023-11-22 -0.178533 -0.168227 -0.176692 -0.175701  0.122972  -0.135009
2023-11-23 -0.178533 -0.168227 -0.176692 -0.175701  0.075029  -0.135009
2023-11-24 -0.178533 -0.168227 -0.176693 -0.175701  0.073934  -0.135009

C:\Users\admin\AppData\Local\Temp\ipykernel_17156\3564904668.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.13233646 0.30923521 0.25412271 ... 0.07393387 0.10092175 0.1470894 ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  train_set.iloc[:,:-1] = scaler_x.transform(train_set.iloc[:,:-1])
C:\Users\admin\AppData\Local\Temp\ipykernel_17156\3564904668.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.11749093 0.107555   0.12297213 0.07502935 0.07393387 0.10092175
 0.1470894  0.10280507 0.17478    0.10930907 0.11327317 0.1343173
 0.08995051 0.09813301 0.12025161 0.10920582 0.15235554 0.14524772
 0.30526808 0.17075039 0.10730773 0.09863813 0.18681065 0.1492563
 0.16073771 0.14578083 0.22867807 0.19707994 0.18983028 0.24088766
 0.16969425 0.12517766 0.12279032 0.28812258 0.22434267 0.63884075
 0.1443859  0.03275429 0.16344856 0.25118614 0.19769851 0.2587135
 0.21785193 0.16373436 0.14241175 0.12997723 0.12358027 0.15476816
 0.13558782 0.17389242 0.22015142 0.16561305 0.2106835  0.16122102
 0.18344753 0.23044612 0.24324742 0.13769761 0.15636361 0.14887997
 0.14092507 0.16257445 0.12738326 0.16841521 0.1796684  0.16244018
 0.14619134 0.13062073 0.23449562 0.25701978 0.21598882 0.23860943
 0.16075271 0.21340012 0.10786088 0.14408377 0.16879392 0.24965667
 0.25004441 0.12756988 0.17026594 0.55484906 0.49354098 0.29593503
 0.20711757 0.33831012 0.1929502  0.27777515 0.30038218 0.22275899
 0.41058037 0.33766624 0.27959255 0.20910809 0.20987747 0.26272794
 0.2827936  0.18893248 0.29525967 0.35379468 0.25038853 0.23664151
 0.34679314 0.33740191 0.20726931 0.24545552 0.1721824  0.14124869
 0.16238617 0.21047294 0.2092951  0.14563665 0.29055452 0.14494663
 0.20773701 0.18798408 0.20654561 0.13026786 0.23242904 0.17626924
 0.21545351 0.15160184 0.21617022 0.20738434 0.30885238 0.48529573
 0.20529129 0.3349148  0.3161608  0.29011056 0.17392241 0.15611394
 0.25665983 0.23463898 0.16165843 0.18792928 0.21312745 0.37388145
 0.25387645 0.17853763 0.20162074 0.26763245 0.22466805 0.19829788
 0.17113145 0.21137489 0.19692166 0.12999908 0.10470966 0.12532035
 0.16025376 0.12668378 0.48565038 0.50706601 0.26615908 0.23626513
 0.19726056 0.273266   0.29172297 0.27897405 0.17902084 0.201387
 0.27375525 0.20562405 0.2102576  0.17458816 0.18757391 0.22505449
 0.16065716 0.14170831 0.14583317 0.22971101 0.23143863 0.28569779
 0.60470714 0.52372083 0.36221695 0.31464879 0.18147399 0.10895444
 0.11866587 0.14668064 0.24429644 0.15665113 0.11830681 0.08643482
 0.09023858 0.10431519 0.17336508 0.12324899 0.10845896 0.18696926
 0.18114508 0.13998351 0.18065873 0.30304198 0.28444089 0.21064228
 0.25760473 0.33941616 0.39653663 0.39736048 0.27733579 0.54705796
 0.36261147 0.31606228 0.29851225 0.31728104 0.415985   0.31485144
 0.36203684 0.31529998 0.26850409 0.38830714 0.30354276 0.50120839
 0.32803923 0.23128262 0.25153583 0.25804733 0.2588181  0.15968188
 0.20502368 0.30543345 0.30231354 0.34881248 0.28601936 0.30756489
 0.31414589 0.21968055 0.39653097 0.21131644 0.17260112 0.19361327
 0.24463684 0.18872576 0.15367051 0.33011392 0.42037967 0.58166558
 0.53718047 0.51795444 0.53257967 0.34925221 0.23104363 0.21146782
 0.16921924 0.40127183 0.25700795 0.24149386 0.22148135 0.27144911
 0.2441125  0.25883726 0.32118253 0.26120336 0.25315958 0.29043063
 0.23015004 0.16129513 0.37070219 0.17616539 0.169172   0.22385213
 0.15169435 0.24895224 0.27323462 0.15140326 0.12883589 0.1164602
 0.11900843 0.13979888 0.18415726 0.21391722 0.21077499 0.18858328
 0.2944821  0.27119509 0.17783084 0.18679342 0.19340788 0.20624309
 0.20626826 0.20823984 0.13091608 0.14988678 0.20310893 0.17261352
 0.1314155  0.46714721 0.35816926 0.30136201 0.17689692 0.18233553
 0.1603087  0.30537879 0.27236449 0.29265546 0.24858075 0.26553864
 0.13195141 0.24506637 0.28121167 0.23906514 0.24581295 0.15656151
 0.16195106 0.20061851 0.1658287  0.31046268 0.20545586 0.18358453
 0.13573934 0.15807326 0.14308733 0.19645269 0.19902538 0.26722592
 0.12009316 0.39376067 0.31159102 0.32580007 0.38744862 0.44466075
 0.15600366 0.19112153 0.18195483 0.22578511 0.18030344 0.19526343
 0.1532753  0.15948297 0.2160215  0.26052635 0.3543377  0.28273642
 0.22785772 0.2541152  0.15425833 0.14232263 0.0996459  0.15986752
 0.12033583 0.06476126 0.06579668 0.10555722 0.12345437 0.11716117
 0.13491107 0.10344274 0.1140068  0.14411184 0.24864527 0.18976544
 0.18072443 0.08653142 0.17069377 0.18650774 0.13806463 0.14550207
 0.11500157 0.10854302 0.10055322 0.08630839 0.16891733 0.12454425
 0.1207153  0.14882171 0.1939655  0.14325498 0.29034208 0.14252087
 0.2175929  0.25763495 0.21714638 0.16948741 0.15071764 0.19661019
 0.22928641 0.24584002 0.31711012 0.19512181 0.18687845 0.20012198
 0.18328418 0.26286019 0.26502741 0.2148502  0.19201865]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  test_set.iloc[:,:-1] = scaler_x.transform(test_set.iloc[:,:-1])